<div class="banner" style="text-align: center;">
<h2>CRUD with Encryption and Decryption</h2>
<h3>{{viewTitle}}</h3>
</div>
<form action="/employee" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Name" value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>Registration Number</label>
        <input type="text" class="form-control" name="email" placeholder="Reg Number" value="{{employee.email}}">
    </div>

    <div class="form-group">
        <label>Branch</label>
        <input type="text" class="form-control" name="mobile" placeholder="Branch" value="{{employee.mobile}}">
    </div>
    <div class="form-group">
        <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="City" value="{{employee.city}}">
        </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>